:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	color: rgba(255, 255, 255, 0.87);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button,
input {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	color: rgba(255, 255, 255, 0.87);
}
button:hover,
input:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
input {
	background-color: #3b3b3b;
	color: #ffffff;
	text-align: center;
	font-size: inherit;
	padding: 0;
	padding-inline: 0;
}
input:focus {
	outline: 1px solid #646cff;
}

.content {
	display: grid !important;
	grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
	gap: 10px;
	align-items: stretch;
	grid-auto-rows: 1fr; /* sprawia że wszystkie rzędy mają tę samą wysokość */
}
.content > :nth-child(4) {
	grid-column: 1 / -1;
	width: 30%;
	justify-self: center;
}
.content button {
	width: 100%;
}
